<form method="POST">

<label>Tipo de producto:</label>
<input type="text" name="tipo_producto">
<br><br>

<label>Marca:</label>
<input type="text" name="marca">
<br><br>

<label>Estatus:</label>
<input type="text" name="estatus">
<br><br>

<label>Fecha:</label>
<input type="date" name="fecha">
<br><br>

<label>Cantidad:</label>
<input type="number" name="cantidad">
<br><br>

<label>Precio:</label>
<input type="number" name="precio" step="0.01">
<br><br>

<button type="submit">Guardar</button>

</form>